# Importing Data in Python

* Local File
    * Plain Text, csv, tsv
* DataBase
    * SQLite, MongoDB
* Remote File
    * HTML, JSON, csv
* Excel File, MATLAB .m file
* Web API- Facebook or Google API

## Reading Text File

#### Without Context Manager
> We need to explicitly close the file

In [1]:

file = open('news.txt', 'r')
#r - read
#w - write

In [2]:
file.read()

'Why Infrastructure Is So Expensive \nA subway-style diagram of the major Roman roads\nBaby Bird from Time of Dinosaurs Found Fossilized\nMIT Gets $140M Pledge from Anonymous Donor (wsj.com)\nHow hackers abused satellites to stay under the radar (2015)\nFiduciary Rule Fight Brews While Bad Financial Advisers\nIn 1957, Five Men Agreed to Stand Under an Exploding Nuclear Bomb\n'

In [3]:
file.closed 
#check whether file is closed or not

False

In [4]:
file.close()

In [5]:
file.closed

True

#### With Context Manager
> No need to explicitly close the file

In [7]:
with open('news.txt', 'r') as file1:
    print(file1.readline())
    print(file1.readline())

Why Infrastructure Is So Expensive

A subway-style diagram of the major Roman roads

## Read .csv File
> Comma separated value  
> row = record, column = feature

#### using numpy

In [8]:
import numpy as np
import pandas as pd

In [9]:
mnist_data = np.loadtxt('mnist.csv', dtype=float, comments='#', delimiter=',')

In [10]:
mnist_data

array([[ 5.,  0.,  0., ...,  0.,  0.,  0.],
       [ 4.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 3.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.]])

In [16]:
titanic_data = np.genfromtxt('titanic.csv', delimiter=',', dtype=None, skip_header=1)
#generic function to read the file`

In [17]:
titanic_data

array([( 1, b'1st', b'Male', b'Child', b'No', b'0'),
       ( 2, b'2nd', b'Male', b'Child', b'No', b'0'),
       ( 3, b'3rd', b'Male', b'Child', b'No', b'35'),
       ( 4, b'Crew', b'Male', b'Child', b'No', b'0'),
       ( 5, b'1st', b'Female', b'Child', b'No', b'0'),
       ( 6, b'2nd', b'Female', b'Child', b'No', b'0\xe2\x90\x8a'),
       ( 7, b'3rd', b'Female', b'Child', b'No', b'17'),
       ( 8, b'Crew', b'Female', b'Child', b'No', b'0'),
       ( 9, b'1st', b'Male', b'Adult', b'No', b'118'),
       (10, b'2nd', b'Male', b'Adult', b'No', b'154'),
       (11, b'3rd', b'Male', b'Adult', b'No', b'387'),
       (12, b'Crew', b'Male', b'Adult', b'No', b'670'),
       (13, b'1st', b'Female', b'Adult', b'No', b'4'),
       (14, b'2nd', b'Female', b'Adult', b'No', b'13'),
       (15, b'3rd', b'Female', b'Adult', b'No', b'89'),
       (16, b'Crew', b'Female', b'Adult', b'No', b'3'),
       (17, b'1st', b'Male', b'Child', b'Yes', b'5'),
       (18, b'2nd', b'Male', b'Child', b'Yes', b'11'),
       (19, b'3rd', b'Male', b'Child', b'Yes', b'13'),
       (20, b'Crew', b'Male', b'Child', b'Yes', b'0'),
       (21, b'1st', b'Female', b'Child', b'Yes', b'1'),
       (22, b'2nd', b'Female', b'Child', b'Yes', b'13'),
       (23, b'3rd', b'Female', b'Child', b'Yes', b'14'),
       (24, b'Crew', b'Female', b'Child', b'Yes', b'0'),
       (25, b'1st', b'Male', b'Adult', b'Yes', b'57'),
       (26, b'2nd', b'Male', b'Adult', b'Yes', b'14'),
       (27, b'3rd', b'Male', b'Adult', b'Yes', b'75'),
       (28, b'Crew', b'Male', b'Adult', b'Yes', b'192'),
       (29, b'1st', b'Female', b'Adult', b'Yes', b'140'),
       (30, b'2nd', b'Female', b'Adult', b'Yes', b'80')],
      dtype=[('f0', '<i4'), ('f1', 'S4'), ('f2', 'S6'), ('f3', 'S5'), ('f4', 'S3'), ('f5', 'S4')])

#### using pandas

In [19]:
titanic = pd.read_csv('titanic.csv', sep=',')

In [20]:
titanic

    No Class     Sex    Age Survived Freq
0    1   1st    Male  Child       No    0
1    2   2nd    Male  Child       No    0
2    3   3rd    Male  Child       No   35
3    4  Crew    Male  Child       No    0
4    5   1st  Female  Child       No    0
5    6   2nd  Female  Child       No   0‚êä
6    7   3rd  Female  Child       No   17
7    8  Crew  Female  Child       No    0
8    9   1st    Male  Adult       No  118
9   10   2nd    Male  Adult       No  154
10  11   3rd    Male  Adult       No  387
11  12  Crew    Male  Adult       No  670
12  13   1st  Female  Adult       No    4
13  14   2nd  Female  Adult       No   13
14  15   3rd  Female  Adult       No   89
15  16  Crew  Female  Adult       No    3
16  17   1st    Male  Child      Yes    5
17  18   2nd    Male  Child      Yes   11
18  19   3rd    Male  Child      Yes   13
19  20  Crew    Male  Child      Yes    0
20  21   1st  Female  Child      Yes    1
21  22   2nd  Female  Child      Yes   13
22  23   3rd  Female  Child      Yes   14
23  24  Crew  Female  Child      Yes    0
24  25   1st    Male  Adult      Yes   57
25  26   2nd    Male  Adult      Yes   14
26  27   3rd    Male  Adult      Yes   75
27  28  Crew    Male  Adult      Yes  192
28  29   1st  Female  Adult      Yes  140
29  30   2nd  Female  Adult      Yes   80

## Excel and MATLAB .m File

### Excel Files

In [21]:
import pandas as pd

In [22]:
file = pd.ExcelFile('ExcelTest.xlsx')

In [23]:
file.sheet_names

['s1', 's2']

In [24]:
df1 = file.parse('s1')
df2 = file.parse('s2')

In [25]:
df1

,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.8100,208.16,68.02,Nunavut,Appliances,0.58
2,"Cardinal Slant-D¬Æ Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.7075,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,R380,Clay Rozendal,483,1198.9710,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,Holmes HEPA Air Purifier,Carlos Soltero,515,30.9400,21.78,5.94,Nunavut,Appliances,0.50
5,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.4300,6.64,4.95,Nunavut,Office Furnishings,0.37
6,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.0385,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
7,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.7000,42.76,6.22,Nunavut,Storage & Organization,NaN
8,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,-695.2600,138.14,35.00,Nunavut,Storage & Organization,NaN
9,Xerox 198,Dorothy Badders,678,-226.3600,4.98,8.33,Nunavut,Paper,0.38

In [26]:
df2

,10,Xerox 1980,Neola Schneider,807,-166.85,4.28,6.18,Nunavut,Paper,0.4
0,1,Advantus Map Pennant Flags and Round Head Tacks,Neola Schneider,807,-14.330,3.95,2.00,Nunavut,Rubber Bands,0.53
1,1,Holmes HEPA Air Purifier,Carlos Daly,868,134.720,21.78,5.94,Nunavut,Appliances,0.50
2,1,"DS/HD IBM Formatted Diskettes, 200/Pack - Staples",Carlos Daly,868,114.460,47.98,3.61,Nunavut,Computer Peripherals,0.71
3,1,"Wilson Jones 1"" Hanging DublLock¬Æ Ring Binders",Claudia Miner,933,-4.715,5.28,2.99,Nunavut,Binders and Binder Accessories,0.37
4,1,Ultra Commercial Grade Dual Valve Door Closer,Neola Schneider,995,782.910,39.89,3.04,Nunavut,Office Furnishings,0.53
5,1,"#10-4 1/8"" x 9 1/2"" Premium Diagonal Seam Enve...",Allen Rosenblatt,998,93.800,15.74,1.39,Nunavut,Envelopes,0.40
6,1,Hon 4-Shelf Metal Bookcases,Sylvia Foulston,1154,440.720,100.98,26.22,Nunavut,Bookcases,0.60
7,1,"Lesro Sheffield Collection Coffee Table, End T...",Sylvia Foulston,1154,-481.041,71.37,69.00,Nunavut,Tables,0.68
8,1,g520,Jim Radford,1344,-11.682,65.99,5.26,Nunavut,Telephones and Communication,0.59

### MATLAB Files

In [27]:
from scipy.io import loadmatdmat

In [28]:
X = loadmat('MatlabTest.mat')

In [29]:
X

{'__globals__': [],
 '__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Sun Jun 18 12:46:39 2017',
 '__version__': '1.0',
 'data': array([[['a', '1'],
         ['b', '2']]],
       dtype='<U1')}

In [30]:
X['data']

array([[['a', '1'],
        ['b', '2']]],
      dtype='<U1')

# SQLite- Relational Database

In [31]:
# SqliteTestDb -- Database
# Employees -- Table

In [32]:
import sqlite3

In [33]:
conn = sqlite3.connect('SqliteTestDb.db')
#Create connection object to connect python environment to sqlite database

In [34]:
cur = conn.cursor()
#we can execute all queries using cursor variable

In [35]:
cur.execute('select * from employees')

In [36]:
rows = cur.fetchall()

In [37]:
for row in rows:
    print(row)

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

#### using pandas

In [38]:
df = pd.read_sql_query('select * from employees', conn)
#returns DataFrame object

In [39]:
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

# Fetch Remote File

In [40]:
html_url = 'http://www.google.com'
csv_url = 'https://vincentarelbundock.github.io/Rdatasets/csv/datasets/Titanic.csv'
json_url = 'https://raw.githubusercontent.com/ankit25587/test/master/test.json'

#### html

In [41]:
import requests

In [42]:
res = requests.get(html_url)

In [43]:
htmldata = res.text

In [44]:
htmldata

'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en-IN"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script>(function(){window.google={kEI:\'4SI-WuuyNInsvgTdgZvwAw\',kEXPI:\'1354276,1354688,1354916,1355217,1355457,1355673,1355675,1355793,1356341,1356948,1357157,1357284,3700280,3700519,3700521,4029815,4031109,4043492,4045841,4048347,4063220,4081038,4081164,4095910,4097153,4097469,4097922,4097929,4098721,4098728,4098752,4101413,4101430,4101437,4102237,4103209,4103475,4104258,4109316,4109489,4113215,4114597,4115697,4116349,4116724,4116731,4116926,4116928,4116935,4117539,4117980,4118692,4118798,4119032,4119034,4119036,4120285,4120287,4120660,4121174,4123641,4123830,4123850,4124091,4124333,4124850,4125837,4126201,4126754,4127262,4127418,4127445,4127473,4127744,4128586,4128624,4128998,4129520,4129555,4129633,4130560,4131247,4131834,4131853,4132956,4133113,4133207,4133416,4134398,4135025,4135088,4135249,4135576,4135744,4135927,4136073,4136136,4137595,4137646,4138238,4138754,4139928,4141183,4141282,4141445,4141469,4141706,4141900,4141916,4142071,4142328,4142420,4142442,4142492,4142503,4142677,4142729,4142829,4142834,4142847,4143278,4143295,4143526,4143655,4143832,4143901,4144283,4144550,4144703,4144803,4145069,4145088,4145461,4145485,4145621,4145727,4146147,4146260,4146452,4146880,4147043,4147395,4147442,4147581,4147686,4147904,4147948,6512220,10200083,10202524,10202562,15807764,19000288,19000423,19000427,19001999,19002287,19002288,19002366,19002548,19002852,19002880,19003321,19003323,19003325,19003326,19003328,19003329,19003330,19003407,19003408,19003409,19004309,19004454,19004459,19004516,19004517,19004518,19004519,19004520,19004521,19004531,19004532,19004550,19004594,19004603,19004606,19004612,19004620,19004643,19004650,19004658,41317155\',authuser:0,kscs:\'c9c918f0_4SI-WuuyNInsvgTdgZvwAw\',u:\'c9c918f0\',kGL:\'IN\'};google.kHL=\'en-IN\';})();(function(){google.lc=[];google.li=0;google.getEI=function(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||google.kEI};google.getLEI=function(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b};google.https=function(){return"https:"==window.location.protocol};google.ml=function(){return null};google.wl=function(a,b){try{google.ml(Error(a),!1,b)}catch(d){}};google.time=function(){return(new Date).getTime()};google.log=function(a,b,d,c,g){if(a=google.logUrl(a,b,d,c,g)){b=new Image;var e=google.lc,f=google.li;e[f]=b;b.onerror=b.onload=b.onabort=function(){delete e[f]};google.vel&&google.vel.lu&&google.vel.lu(a);b.src=a;google.li=f+1}};google.logUrl=function(a,b,d,c,g){var e="",f=google.ls||"";d||-1!=b.search("&ei=")||(e="&ei="+google.getEI(c),-1==b.search("&lei=")&&(c=google.getLEI(c))&&(e+="&lei="+c));c="";!d&&google.cshid&&-1==b.search("&cshid=")&&(c="&cshid="+google.cshid);a=d||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+e+f+"&zx="+google.time()+c;/^http:/i.test(a)&&google.https()&&(google.ml(Error("a"),!1,{src:a,glmm:1}),a="");return a};}).call(this);(function(){google.y={};google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};}).call(this);google.f={};var a=window.location,b=a.href.indexOf("#");if(0<=b){var c=a.href.substring(b+1);/(^|&)q=/.test(c)&&-1==c.indexOf("#")&&a.replace("/search?"+c.replace(/(^|&)fp=[^&]*/g,"")+"&cad=h")};</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}\n</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#36c}.q{color:#00c}.ts td{padding:0}.ts{border-collapse:collapse}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}a.gb1,a.gb2,a.gb3,a.gb4{color:#11c !important}body{background:#fff;color:black}a{color:#11c;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#36c}a:visited{color:#551a8b}a.gb1,a.gb4{text-decoration:underline}a.gb3:hover{text-decoration:none}#ghead a.gb2:hover{color:#fff !important}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#eee;border:solid 1px;border-color:#ccc #999 #999 #ccc;height:30px}.lsbb{display:block}.ftl,#fll a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#ccc}.lst:focus{outline:none}</style><script></script><link href="/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon"></head><body bgcolor="#fff"><script>(function(){var src=\'/images/nav_logo229.png\';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}\nif (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}\n}\n})();</script><div id="mngb"> <div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="http://www.google.co.in/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="http://maps.google.co.in/maps?hl=en&tab=wl">Maps</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="http://www.youtube.com/?gl=IN&tab=w1">YouTube</a> <a class=gb1 href="http://news.google.co.in/nwshp?hl=en&tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 style="text-decoration:none" href="https://www.google.co.in/intl/en/options/"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.co.in/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=http://www.google.co.in/%3Fgfe_rd%3Dcr%26dcr%3D0%26ei%3D4SI-WrChHIedX5y7mrAG" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div> </div><center><br clear="all" id="lgpd"><div id="lga"><div style="padding:28px 0 3px"><div style="height:110px;width:276px;background:url(/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png) no-repeat" title="Google" align="left" id="hplogo" onload="window.lol&&lol()"><div style="color:#777;font-size:16px;font-weight:bold;position:relative;top:70px;left:218px" nowrap="">India</div></div></div><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en-IN" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input style="color:#000;margin:0;padding:5px 8px 0 6px;vertical-align:top" autocomplete="off" class="lst" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" value="I\'m Feeling Lucky" name="btnI" onclick="if(this.form.q.value)this.checked=1; else top.location=\'/doodles/\'" type="submit"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en-IN&amp;authuser=0">Advanced search</a><a href="/language_tools?hl=en-IN&amp;authuser=0">Language tools</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br><div id="als"><style>#als{font-size:small;margin-bottom:24px}#_eEe{display:inline-block;line-height:28px;}#_eEe a{padding:0 3px;}._lEe{display:inline-block;margin:0 2px;white-space:nowrap}._PEe{display:inline-block;margin:0 2px}</style><div id="_eEe">Google offered in: <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=hi&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAU">&#2361;&#2367;&#2344;&#2381;&#2342;&#2368;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=bn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAY">&#2476;&#2494;&#2434;&#2482;&#2494;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=te&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAc">&#3108;&#3142;&#3122;&#3137;&#3095;&#3137;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=mr&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAg">&#2350;&#2352;&#2366;&#2336;&#2368;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=ta&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAk">&#2980;&#2990;&#3007;&#2996;&#3021;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=gu&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAo">&#2711;&#2753;&#2716;&#2736;&#2750;&#2724;&#2752;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=kn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAs">&#3221;&#3240;&#3277;&#3240;&#3233;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=ml&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCAw">&#3374;&#3378;&#3375;&#3390;&#3379;&#3330;</a>  <a href="http://www.google.co.in/setprefs?sig=0_Mm2q7rdg9JIvoKFyF28YfQjM9ls%3D&amp;hl=pa&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwirp4v-6Z_YAhUJto8KHd3ABj4Q2ZgBCA0">&#2602;&#2672;&#2588;&#2622;&#2604;&#2624;</a> </div></div></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="fll"><a href="/intl/en/ads/">Advertising\xa0Programs</a><a href="http://www.google.co.in/services/">Business Solutions</a><a href="https://plus.google.com/104205742743787718296" rel="publisher">+Google</a><a href="/intl/en/about.html">About Google</a><a href="http://www.google.co.in/setprefdomain?prefdom=US&amp;sig=__ih3aiukz9yr8Rx0l0vsPpWJkdk8%3D" id="fehl">Google.com</a></div></div><p style="color:#767676;font-size:8pt">&copy; 2017 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script>(function(){window.google.cdo={height:0,width:0};(function(){var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();</script><div id="xjsd"></div><div id="xjsi"><script>(function(){function c(b){window.setTimeout(function(){var a=document.createElement("script");a.src=b;google.timers&&google.timers.load.t&&google.tick("load",{gen204:"xjsls",clearcut:31});document.getElementById("xjsd").appendChild(a)},0)}google.dljp=function(b,a){google.xjsu=b;c(a)};google.dlj=c;}).call(this);(function(){var r=[];google.plm(r);})();if(!google.xjs){window._=window._||{};window._DumpException=window._._DumpException=function(e){throw e};google.dljp(\'/xjs/_/js/k\\x3dxjs.hp.en_US.ZDoxJb0afnk.O/m\\x3dsb_he,d/am\\x3dAAg/rt\\x3dj/d\\x3d1/t\\x3dzcms/rs\\x3dACT90oFzsOUe10rMzbv3isDwWoDF0Wai2A\',\'/xjs/_/js/k\\x3dxjs.hp.en_US.ZDoxJb0afnk.O/m\\x3dsb_he,d/am\\x3dAAg/rt\\x3dj/d\\x3d1/t\\x3dzcms/rs\\x3dACT90oFzsOUe10rMzbv3isDwWoDF0Wai2A\');google.xjs=1;}google.pmc={"sb_he":{"agen":true,"cgen":true,"client":"heirloom-hp","dh":true,"dhqt":true,"ds":"","ffql":"en","fl":true,"host":"google.co.in","isbh":28,"jam":0,"jsonp":true,"msgs":{"cibl":"Clear Search","dym":"Did you mean:","lcky":"I\\u0026#39;m Feeling Lucky","lml":"Learn more","oskt":"Input tools","psrc":"This search was removed from your \\u003Ca href=\\"/history\\"\\u003EWeb History\\u003C/a\\u003E","psrl":"Remove","sbit":"Search by image","srch":"Google Search"},"nds":true,"ovr":{},"pq":"","refpd":true,"rfs":[],"sbpl":24,"sbpr":24,"scd":10,"sce":5,"stok":"qzUTunhq28cyErtCL-y7tSCaMWU"},"d":{},"YFCs/g":{}};google.x(null,function(){});(function(){var ctx=[]\n;google.jsc && google.jsc.x(ctx);})();</script></div></body></html>'

In [45]:
from bs4 import BeautifulSoup

In [46]:
soup = BeautifulSoup(htmldata, 'html.parser')

In [47]:
soup.find('title')

In [48]:
soup.find('title').string

'Google'

#### json

In [49]:
res = requests.get(json_url)

In [50]:
res.text

'{\n  "firstName": "John",\n  "lastName": "Smith",\n  "isAlive": true,\n  "age": 25,\n  "address": {\n    "streetAddress": "21 2nd Street",\n    "city": "New York",\n    "state": "NY",\n    "postalCode": "10021-3100"\n  },\n  "phoneNumbers": [\n    {\n      "type": "home",\n      "number": "212 555-1234"\n    },\n    {\n      "type": "office",\n      "number": "646 555-4567"\n    },\n    {\n      "type": "mobile",\n      "number": "123 456-7890"\n    }\n  ],\n  "children": [],\n  "spouse": null\n}\n'

In [51]:
json_data = res.json()

In [52]:
json_data['firstName']

'John'

In [53]:
json_data['address']

{'city': 'New York',
 'postalCode': '10021-3100',
 'state': 'NY',
 'streetAddress': '21 2nd Street'}

In [54]:
json_data['address']['postalCode']

'10021-3100'

#### csv

In [55]:
df = pd.read_csv(csv_url)

In [56]:
df

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
5,6,"Anderson, Mr Harry",1st,47.00,male,1,0
6,7,"Andrews, Miss Kornelia Theodosia",1st,63.00,female,1,1
7,8,"Andrews, Mr Thomas, jr",1st,39.00,male,0,0
8,9,"Appleton, Mrs Edward Dale (Charlotte Lamson)",1st,58.00,female,1,1
9,10,"Artagaveytia, Mr Ramon",1st,71.00,male,0,0
10,11,"Astor, Colonel John Jacob",1st,47.00,male,0,0
11,12,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",1st,19.00,female,1,1
12,13,"Aubert, Mrs Leontine Pauline",1st,NaN,female,1,1
13,14,"Barkworth, Mr Algernon H",1st,NaN,male,1,0
14,15,"Baumann, Mr John D",1st,NaN,male,0,0
15,16,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",1st,50.00,female,1,1
16,17,"Baxter, Mr Quigg Edmond",1st,24.00,male,0,0
17,18,"Beattie, Mr Thomson",1st,36.00,male,0,0
18,19,"Beckwith, Mr Richard Leonard",1st,37.00,male,1,0
19,20,"Beckwith, Mrs Richard Leonard (Sallie Monypeny)",1st,47.00,female,1,1
20,21,"Behr, Mr Karl Howell",1st,26.00,male,1,0
21,22,"Birnbaum, Mr Jakob",1st,25.00,male,0,0
22,23,"Bishop, Mr Dickinson H",1st,25.00,male,1,0
23,24,"Bishop, Mrs Dickinson H (Helen Walton)",1st,19.00,female,1,1
24,25,"Bjornstrm-Steffansson, Mr Mauritz Hakan",1st,28.00,male,1,0
25,26,"Blackwell, Mr Stephen Weart",1st,45.00,male,0,0
26,27,"Blank, Mr Henry",1st,39.00,male,1,0
27,28,"Bonnell, Miss Caroline",1st,30.00,female,1,1
28,29,"Bonnell, Miss Elizabeth",1st,58.00,female,1,1
29,30,"Borebank, Mr John James",1st,NaN,male,0,0
...,...,...,...,...,...,...,...
1283,1284,"Vestrom, Miss Hulda Amanda Adolfina",3rd,14.00,female,0,1
1284,1285,"Vonk, Mr Jenko",3rd,22.00,male,0,0
1285,1286,"Ware, Mr Frederick",3rd,NaN,male,0,0
1286,1287,"Warren, Mr Charles William",3rd,NaN,male,0,0
1287,1288,"Wazli, Mr Yousif",3rd,NaN,male,0,0
1288,1289,"Webber, Mr James",3rd,NaN,male,0,0
1289,1290,"Wennerstrom, Mr August Edvard",3rd,NaN,male,1,0
1290,1291,"Wenzel, Mr Linhart",3rd,NaN,male,0,0
1291,1292,"Widegren, Mr Charles Peter",3rd,51.00,male,0,0
1292,1293,"Wiklund, Mr Jacob Alfred",3rd,18.00,male,0,0
1293,1294,"Wilkes, Mrs Ellen",3rd,45.00,female,1,1
1294,1295,"Willer, Mr Aaron",3rd,NaN,male,0,0
1295,1296,"Willey, Mr Edward",3rd,NaN,male,0,0
1296,1297,"Williams, Mr Howard Hugh",3rd,NaN,male,0,0
1297,1298,"Williams, Mr Leslie",3rd,28.00,male,0,0
1298,1299,"Windelov, Mr Einar",3rd,21.00,male,0,0
1299,1300,"Wirz, Mr Albert",3rd,27.00,male,0,0
1300,1301,"Wiseman, Mr Phillippe",3rd,NaN,male,0,0
1301,1302,"Wittevrongel, Mr Camiel",3rd,36.00,male,0,0
1302,1303,"Yalsevac, Mr Ivan",3rd,NaN,male,1,0
1303,1304,"Yasbeck, Mr Antoni",3rd,27.00,male,0,0
1304,1305,"Yasbeck, Mrs Antoni",3rd,15.00,female,1,1
1305,1306,"Youssef, Mr Gerios",3rd,NaN,male,0,0
1306,1307,"Zabour, Miss Hileni",3rd,NaN,female,0,1
1307,1308,"Zabour, Miss Tamini",3rd,NaN,female,0,1
1308,1309,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22.00,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24.00,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29.00,male,0,0